@tailwind base;
@tailwind components;
@tailwind utilities;


html, body{
  width: 100%;
  height: 100%;
}
body{
  background: wheat url(/public/img/bg.jpg);
}
.card{
  width: 216px;
  height: 384px;
  perspective: 500px;
}
.card-inner{
  border: 10px solid white;
  border-radius: 3px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.card:hover .card-inner {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}
.card-front,
.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(34, 30, 80) url(/public/img/back1.jpg) no-repeat;
  background-size: cover;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY( 180deg );
  background: rgb(34, 30, 80) url(/public/img/back1.jpg) no-repeat;
  background-size: cover;
}
